.overlay__container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
  }

  .overlay {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    background-color: #FFFFFF;
    border-radius: 6px;
    z-index: 10;
    box-shadow: 4px 4px 40.8px 0 rgba(0, 0, 0, 0.25);
    padding: 16px;
  }
  .modal-title--wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  .modal-title{
    font-size: 16px;
    font-weight: 500;
  }
  .location-img--wrapper{
    display: flex;
    margin-right: 8px;
  }
  .address-input--wrapper{
    display: flex;
    gap: 16px;
  }
  .address-input{
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #C5C5C580;
  }

.address-input--state{
    font-size: 14px;
    width: 194px;
    height: 42px;
    border: 1px solid #C5C5C580;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    padding: 12px;
    color: #7E7E7E;
    outline: none;
    cursor: pointer;

}
  

  .fullAddress{
    margin: 16px 0;
  }
  .fullAddress-input{
    border-radius: 0;
    width: 100%;
    height: 160px;
    border-radius: 8px;
    outline: none;
    resize:none;
    font-size: 16px;
    padding: 12px;
    border: 1px solid #C5C5C580;
    margin-bottom: 24px;
  }
  .address-save--btn{
    border: none;
    color: #fff;
    background-color: #FC8A06;
    position: absolute;
    font-size: 16px;
    font-weight: 500;
    width: 120px;
    height: 40px;
    text-align: center;
    right: 16px;
    bottom: 12px;
    cursor: pointer;
    border-radius: 12px;

  }
