.footer-container{
    background-color: #D9D9D9;
}
.footer-img--container{
    margin: 24px 0;
}

.footer-img{
    width: 300px;
}
.footer-rows{
    display: flex;
    padding: 64px;
}

.first-row--para{
    width: 75%;
}
.footer-row--second{
    margin-right: 48px;
}
.footer-input--wrapper{
    position: relative;
}
.footer-input{
    background-color: #D9D9D9;
    width: 100%;
}
.footer-btn{
    background-color: #FC8A06;
    border: none;
    color: #fff;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 32px;
    position: absolute;
    right: -40px;
}
.footer-spam--text{
    font-size: 13px;
    margin: 16px 0;
}
.third-row--title, .footer-para{
    font-weight: 700;
    line-height: 43px;
    margin-bottom: 8px;
}
.footer-second--row--para{
    margin-bottom: 16px;
}
.footer-pages,.first-row--para{
    font-size: 15px;
    font-weight: 400;
    text-decoration: underline;
    margin-bottom: 12px;
}
.third{
    margin: 0 32px;
}
.last-footer{
    background-color: #03081F;
    color: #fff;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.last-footer--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 56px;
}
.second-items{
    display: flex;
    align-items: center;
}
.last-footer--text{
    font-size: 15px;
    font-weight: 400;
}
.item{
    margin: 12px;
}